@import 'https://fonts.googleapis.com/css?family=Open+Sans|Abril+Fatface';

html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}


body#intro {
  max-width: 600px;
  margin: auto;

  p {
    font-size: 2em;
    margin: 20rem 1rem;
  }

}


body#question {
  max-width: 600px;
  margin: auto;

  a {
    display: inline-block;
    font-size: 2em;
    margin: 1em 2em 0;
  }

}


body#end {
  margin: 0;

  div.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    cursor: pointer;
  }

  div.modal .message {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 2em;
  }



  header {
    padding: 1rem;
  }

  img.nyt {
    width: 100%;
    display: block;
    margin: 0;
  }

  .date {
    text-align: center;
    font-family: Georgia, sans-serif;
  }

  main {
    min-height: 100vh;
    padding: 1rem;
    font-size: 1.3em;
    display: flex;
    flex-flow: row wrap;

    h1, h2, h3, h4, h5, h6 {
       letter-spacing: 0.05em;
       font-family: 'Abril Fatface', sans-serif;
    }

    article {
      flex: 0 0 30%;
      margin: 1rem;
    }

    article.main {
      flex-basis: 60%;
    }
    
    article.question0 {
      display: none;
    }
    article.question2 {
      flex-basis: 60%;
    }

    article img {
      display: block;
      width: 100%;
    }

    p {
      font-family: Georgia, sans-serif;
    }

  }

  .changer {
    position: fixed;
    top: 0;
    right: 0;
    font-size: 1.2em;
    background: white;
    max-width: 500px;
    padding: 0.5rem;
    background: #ddd;
    border-bottom-left-radius: 0.5rem;
  }

  .changer .questions {
    display: none;
  }
  .changer.active .questions {
    display: block;
  }

  .changer h2 {
    font-size: 1.2em;
    margin: 0;
    cursor: pointer;
    user-select: none;
  }

  .changer .close {
    display: none;
    position: absolute;
    font-size: 1.5em;
    top: 0;
    right: 0;
    padding: 1rem;
    line-height: 0.5;
    cursor: pointer;
    user-select: none;
  }

  .changer.active .close {
    display: block;
  }

}



a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: hsla(10, 80%, 30%, 1);
}

