@import 'https://fonts.googleapis.com/css?family=Open+Sans';
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #c39d55;
  color: #333;
}
body#intro {
  max-width: 600px;
  margin: auto;
}
body#intro p {
  font-size: 2em;
  margin-top: 6em;
}
body#question {
  max-width: 600px;
  margin: auto;
}
body#question a {
  display: inline-block;
  font-size: 2em;
  margin: 1em 2em 0;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #8a240f;
}
