@import 'https://fonts.googleapis.com/css?family=Open+Sans|Abril+Fatface';
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  box-sizing: border-box;
}
pre {
  font-size: 2em;
}
body#intro {
  max-width: 600px;
  margin: auto;
}
body#intro h1 {
  font-size: 3em;
  text-align: center;
}
body#intro p {
  font-size: 1.5em;
  margin: 4rem 1rem;
}
body#intro p:last-child {
  text-align: center;
  font-size: 3em;
}
body#question {
  max-width: 600px;
  margin: auto;
}
body#question h1 {
  margin-top: 3em;
}
body#question a {
  display: inline-block;
  font-size: 2em;
  margin: 1em 2em 0;
}
body#end {
  margin: 0;
}
body#end div.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 10;
  cursor: pointer;
}
body#end div.modal .message {
  box-sizing: border-box;
  position: absolute;
  width: calc(100% - 2rem);
  max-width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2em;
}
body#end img.nyt {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
body#end .top-date {
  text-align: center;
  font-family: Georgia, sans-serif;
}
@media (max-width: 767px) {
  body#end main {
    display: block !important;
  }
}
body#end main {
  min-height: 100vh;
  max-width: 1000px;
  margin: auto;
  font-size: 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: start;
  align-items: flex-start;
}
body#end main h1,
body#end main h2,
body#end main h3,
body#end main h4,
body#end main h5,
body#end main h6 {
  letter-spacing: 0.05em;
  font-family: 'Abril Fatface', sans-serif;
}
body#end article {
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  padding: 1rem;
  box-sizing: border-box;
}
body#end article.main {
  -ms-flex-preferred-size: 66.6%;
  flex-basis: 66.6%;
}
body#end article.question2 {
  -ms-flex-order: -1;
  order: -1;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
body#end article img,
body#end article iframe {
  display: block;
  width: 100%;
}
body#end p {
  font-family: Georgia, sans-serif;
  margin-bottom: 1rem;
}
body#end p.byline {
  font-size: .8em;
  color: #888;
  margin: 0.4rem 0;
}
body#end p.date {
  font-size: .8em;
  margin: 0;
}
body#end .changer {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1.2em;
  background: white;
  max-width: 500px;
  padding: 0.5rem;
  background: #ddd;
  border-bottom-left-radius: 0.5rem;
}
body#end .changer .questions {
  display: none;
}
body#end .changer.active .questions {
  display: block;
}
body#end .changer h2 {
  font-size: 1.2em;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body#end .changer .close {
  display: none;
  position: absolute;
  font-size: 1.5em;
  top: 0;
  right: 0;
  padding: 1rem;
  line-height: 0.5;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body#end .changer.active .close {
  display: block;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #8a240f;
}
