@import 'https://fonts.googleapis.com/css?family=Open+Sans|Abril+Fatface';
html {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}
body#intro {
  max-width: 600px;
  margin: auto;
}
body#intro p {
  font-size: 2em;
  margin: 20rem 1rem;
}
body#question {
  max-width: 600px;
  margin: auto;
}
body#question a {
  display: inline-block;
  font-size: 2em;
  margin: 1em 2em 0;
}
body#end {
  margin: 0;
}
body#end main {
  min-height: 100vh;
  padding: 1rem;
  background: #ccc;
  font-size: 1.3em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
body#end main h1,
body#end main h2,
body#end main h3,
body#end main h4,
body#end main h5,
body#end main h6 {
  letter-spacing: 0.05em;
  font-family: 'Abril Fatface', sans-serif;
}
body#end main article {
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  margin: 1rem;
}
body#end main article.main {
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
}
body#end main article img {
  display: block;
  width: 100%;
}
body#end main p {
  font-family: Georgia, sans-serif;
}
body#end .changer {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 1.2em;
  background: white;
  max-width: 500px;
  padding: 0.5rem;
}
body#end .changer .questions {
  display: none;
}
body#end .changer.active .questions {
  display: block;
}
body#end .changer h2 {
  font-size: 1.2em;
  margin: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body#end .changer .close {
  display: none;
  position: absolute;
  font-size: 1.5em;
  top: 0;
  right: 0;
  padding: 1rem;
  line-height: 0.5;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body#end .changer.active .close {
  display: block;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #8a240f;
}
